.content {
    padding-left: 1em;
    padding-right: 1em;
}

.sign-in-text {
    padding-right: 2em;
}

.social-button-row {
    padding-top: 1.0em;
}

.custom-col-md-4 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;

}

@media (min-width: 1350px) {
    .custom-col-md-4 {
        float: left;
        width: 33.33333333%;
    }
}
.inputStyle{
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    margin: 0 0 10px 0;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.labelStyle {
    display: inline-block;
    max-width: 100%;
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
}

.postImageContainer {
    width: 33.33%;
    float: left;
    margin: 0 20px 5px 0;
    pointer-events: none;
    border: 5px solid transparent;
}
.postImageContainer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.postImageContainer img {
    width: 100%;
    display: block;

}
.location {
    text-transform: uppercase;
    color: #999;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
    font-size: 90%;
}

.postImageContainer {
    width: 100%;
    display:inline-block;
    vertical-align:middle;
    float: left;
    position: relative;
}

.image {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    width: 100%;
    height: auto;
    min-height: 400px;
    position: relative;
    margin-top: 15px;
}
.unSelected{
    width: 100%;
}

.unSelected.selected{
    background-color: #c0c0c0;
}

.dropzone {
    vertical-align:middle;
    width: 100%;
    height: 40px;
    border: 1px solid #bbb;
    text-align: center;
    font-family: Arial;
}

.like {
    color: #888888;
}
.like:hover{
    color: green;
}
.like-active {
    color: green;
}

.dislike {
    color: #888888;
}
.dislike:hover {
    color: red;
}
.dislike-active {
    color: red;
}


/*main-default styles*/

.page-container {
    padding: 30px 0;
}

.article-header {
    margin-bottom: 24px;
}
.article-header  img {
    width: 100%;
}

.article {
    padding: 0px 28px 26px 20px; }
.article .article-title-1 {
    display: block;
    padding-top: 0px; }

.article-body {
    overflow: hidden;
    padding-left: 16px; }

.article-title {
    font-size: 1.23077em;
    line-height: 1.2;
    text-decoration: none; }
@media screen and (max-width: 767px) {
    .article-title {
        font-size: 1.07692em;
        line-height: 1.2;
    }
}

.article-title-font {
    border-bottom: 1px solid #c9c9c9;
    padding: 40px 0 10px;
    font-size: 1.38462em;
    line-height: 1.2;
    text-transform: uppercase; }

.article-info {
    line-height: 2;
    color: #777777;
    margin-bottom: 10px;
    font-weight: 700;
}

.sidebar > [class*='col-'] {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-block-header {
    font-weight: 700;
    font-size: 1.07692em;
    line-height: 1.71429;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding-bottom: 5px;
}

.popular-container {
    margin: 0; }
.popular-container > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}

.populars {
    margin-top: 7px;
    padding-bottom: 12px;
    font-weight: 700;
}

.tag {
    /*color: #898989;*/
    font-size: 0.92308em;
    line-height: 1.2;
    /*background-color: #f5f5f5;*/
    padding: 7px 10px;
    margin: 5px 6px 5px 0;
    border-radius: 3px;
    display: inline-block;
}
.tag:hover {
    /*background-color: #e26228;*/
    /*color: #fff;*/
}
